.ship {
  background-color: black !important;
  color: red;
}
.ship-hit {
  background-color: red !important;
}
.ship-destroy {
  background-color: orange !important;
  color: orange;
}
.water {
  background-color: lightblue !important;
  color: lightblue;
}
.event {
  color: black !important;
}
.expanded {
  height: 500px;
}
.background-image {
  background-repeat: no-repeat;
  background-position: center;
}